<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>A new query has been submitted by {{name}}:</p>
    <p>Here are the details:</p>
    <p><strong>Enquiry ID:</strong> {{_id}}</p>
    {{#if subject}}
      <p>
        <strong>Subject:</strong>
        {{subject}}
      </p>
    {{/if}}
    <p><strong>Name:</strong> {{name}}</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Phone:</strong> {{phone}}</p>
    <p><strong>Message:</strong> {{message}}</p>
  </body>
</html>